<a href="https://colab.research.google.com/github/AIS-Tobe/Python_First-Steps/blob/main/inmuebles_cdmx.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PANDAS**

## **IMPORTANDO LA BASE DE DATOS**

In [2]:
import pandas as pd

url = 'https://gist.githubusercontent.com/ahcamachod/a572cfcc2527046db93101f88011b26e/raw/ffb13f45a79d31223e645611a119397dd127ee3c/alquiler.csv'

pd.read_csv(url)

      Tipo;Colonia;Habitaciones;Garages;Suites;Area;Valor;Condominio;Impuesto
0          Cocineta;Condesa;1;0;0;40;5950.0;1750.0;210.0
1                       Casa;Polanco;2;0;1;100;24500.0;;
2      Conjunto Comercial/Sala;Santa Fe;0;4;0;150;182...
3      Departamento;Centro Histórico;1;0;0;15;2800.0;...
4          Departamento;Del Valle;1;0;0;48;2800.0;805.0;
...                                                  ...
25116  Cochera/Estacionamiento;Centro Histórico;0;0;0...
25117  Cocineta;Centro Histórico;0;0;0;27;2800.0;1225...
25118  Departamento;Mixcoac;2;1;0;48;4900.0;1781.5;129.5
25119  Departamento;Lomas de Chapultepec;2;0;0;70;105...
25120  Conjunto Comercial/Sala;Centro Histórico;0;0;0...

[25121 rows x 1 columns]

In [3]:
pd.read_csv(url, sep=';')

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto
0,Cocineta,Condesa,1,0,0,40,5950.0,1750.0,210.0
1,Casa,Polanco,2,0,1,100,24500.0,NaN,NaN
2,Conjunto Comercial/Sala,Santa Fe,0,4,0,150,18200.0,14070.0,3888.5
3,Departamento,Centro Histórico,1,0,0,15,2800.0,1365.0,70.0
4,Departamento,Del Valle,1,0,0,48,2800.0,805.0,NaN
...,...,...,...,...,...,...,...,...,...
25116,Cochera/Estacionamiento,Centro Histórico,0,0,0,755,49000.0,NaN,NaN
25117,Cocineta,Centro Histórico,0,0,0,27,2800.0,1225.0,87.5
25118,Departamento,Mixcoac,2,1,0,48,4900.0,1781.5,129.5
25119,Departamento,Lomas de Chapultepec,2,0,0,70,10500.0,2660.0,NaN
25120,Conjunto Comercial/Sala,Centro Histórico,0,0,0,250,22750.0,14721.0,3881.5

In [4]:
datos = pd.read_csv(url, sep=';')
datos

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto
0,Cocineta,Condesa,1,0,0,40,5950.0,1750.0,210.0
1,Casa,Polanco,2,0,1,100,24500.0,NaN,NaN
2,Conjunto Comercial/Sala,Santa Fe,0,4,0,150,18200.0,14070.0,3888.5
3,Departamento,Centro Histórico,1,0,0,15,2800.0,1365.0,70.0
4,Departamento,Del Valle,1,0,0,48,2800.0,805.0,NaN
...,...,...,...,...,...,...,...,...,...
25116,Cochera/Estacionamiento,Centro Histórico,0,0,0,755,49000.0,NaN,NaN
25117,Cocineta,Centro Histórico,0,0,0,27,2800.0,1225.0,87.5
25118,Departamento,Mixcoac,2,1,0,48,4900.0,1781.5,129.5
25119,Departamento,Lomas de Chapultepec,2,0,0,70,10500.0,2660.0,NaN
25120,Conjunto Comercial/Sala,Centro Histórico,0,0,0,250,22750.0,14721.0,3881.5

In [5]:
# Devolver 5 primeras filas de BD
datos.head()

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto
0,Cocineta,Condesa,1,0,0,40,5950.0,1750.0,210.0
1,Casa,Polanco,2,0,1,100,24500.0,NaN,NaN
2,Conjunto Comercial/Sala,Santa Fe,0,4,0,150,18200.0,14070.0,3888.5
3,Departamento,Centro Histórico,1,0,0,15,2800.0,1365.0,70.0
4,Departamento,Del Valle,1,0,0,48,2800.0,805.0,NaN

In [6]:
# Devuelve 5 ultimas filas de BD
datos.tail()
datos

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto
0,Cocineta,Condesa,1,0,0,40,5950.0,1750.0,210.0
1,Casa,Polanco,2,0,1,100,24500.0,NaN,NaN
2,Conjunto Comercial/Sala,Santa Fe,0,4,0,150,18200.0,14070.0,3888.5
3,Departamento,Centro Histórico,1,0,0,15,2800.0,1365.0,70.0
4,Departamento,Del Valle,1,0,0,48,2800.0,805.0,NaN
...,...,...,...,...,...,...,...,...,...
25116,Cochera/Estacionamiento,Centro Histórico,0,0,0,755,49000.0,NaN,NaN
25117,Cocineta,Centro Histórico,0,0,0,27,2800.0,1225.0,87.5
25118,Departamento,Mixcoac,2,1,0,48,4900.0,1781.5,129.5
25119,Departamento,Lomas de Chapultepec,2,0,0,70,10500.0,2660.0,NaN
25120,Conjunto Comercial/Sala,Centro Histórico,0,0,0,250,22750.0,14721.0,3881.5

In [7]:
# Las primeras 10 filas
datos.head(10)

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto
0,Cocineta,Condesa,1,0,0,40,5950.0,1750.0,210.0
1,Casa,Polanco,2,0,1,100,24500.0,NaN,NaN
2,Conjunto Comercial/Sala,Santa Fe,0,4,0,150,18200.0,14070.0,3888.5
3,Departamento,Centro Histórico,1,0,0,15,2800.0,1365.0,70.0
4,Departamento,Del Valle,1,0,0,48,2800.0,805.0,NaN
5,Casa de Condominio,Santa Fe,5,4,5,750,77000.0,NaN,NaN
6,Conjunto Comercial/Sala,Centro Histórico,0,3,0,695,122500.0,67175.5,10605.0
7,Departamento,Centro Histórico,1,0,0,36,4200.0,NaN,NaN
8,Departamento,Condesa,1,0,1,40,7000.0,1963.5,175.0
9,Cocineta,Condesa,1,0,0,27,6300.0,1753.5,NaN

In [8]:
# Escoger una muestra aleatoria de 10 datos de toda la BD
datos.sample(10)

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto
10968,Departamento,Narvarte,2,0,1,70,8750.0,1575.0,168.0
17294,Departamento,Santa Fe,2,1,1,70,8750.0,3395.0,280.0
13340,Departamento,Santa Fe,1,1,0,82,5950.0,7399.0,NaN
17949,Conjunto Comercial/Sala,Centro Histórico,0,0,0,100,11550.0,4375.0,1050.0
6743,Departamento,Santa Fe,3,1,1,92,12250.0,4200.0,NaN
22535,Conjunto Comercial/Sala,Santa Fe,0,7,0,204,26250.0,21350.0,NaN
15829,Departamento,Roma,3,1,1,94,14350.0,3640.0,1036.0
13358,Departamento,Santa Fe,1,0,0,38,12600.0,NaN,NaN
10622,Departamento,Narvarte,2,1,0,91,5950.0,2310.0,500.5
7188,Departamento,Iztacalco,2,1,0,65,2100.0,1400.0,87.5

In [9]:
type(datos)

pandas.core.frame.DataFrame

**DIFERENTES FORMATOS**
Pandas ofrece diversas funciones para importar y exportar datos en diferentes formatos. Las principales funciones de Pandas para importar datos son las siguientes:

- read_csv(): Esta función se utiliza para leer archivos CSV (Comma Separated Values), que son archivos de texto que contienen datos separados por comas. Es posible proporcionar varios parámetros para personalizar la lectura del CSV, como el delimitador, el encabezado, el tipo de codificación, entre otros.

- read_excel(): Esta función se utiliza para leer archivos de Excel (.xls o .xlsx) y crear un DataFrame a partir de los datos.

- read_json(): Esta función se utiliza para leer archivos JSON (JavaScript Object Notation), que son archivos de texto que contienen datos en formato de objeto JavaScript.

- read_html(): Esta función se utiliza para leer tablas HTML, que son estructuras de datos organizadas en formato de tabla en una página web.

- read_sql(): Esta función se utiliza para leer datos de una base de datos relacional, como MySQL, PostgreSQL y SQL Server. Pandas es capaz de importar datos de diferentes maneras, lo que permite ajustar parámetros como la consulta, el nombre de la tabla y el tipo de datos de las columnas.

## **Exploracion inicial de Datos**

In [10]:
datos.sample(5)

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto
24745,Departamento,Narvarte,2,0,1,110,7000.0,1575.0,448.0
22127,Cocineta,Condesa,1,0,0,20,3500.0,1820.0,234.5
15845,Cocineta,Condesa,1,0,0,48,5600.0,1995.0,266.0
5746,Cocineta,Roma,1,0,0,28,3850.0,1683.5,87.5
9199,Departamento,Condesa,3,1,1,164,21000.0,3465.0,1305.5

In [12]:
# Forma de mi dataset (25121 filas 9 columnas)
datos.shape

(25121, 9)

In [13]:
datos.columns

Index(['Tipo', 'Colonia', 'Habitaciones', 'Garages', 'Suites', 'Area', 'Valor',
       'Condominio', 'Impuesto'],
      dtype='object')

In [19]:
datos.info()
# Object - String
# int64 - numeros enteros
# float64 - decimales

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25121 entries, 0 to 25120
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Tipo          25121 non-null  object
 1   Colonia       25121 non-null  object
 2   Habitaciones  25121 non-null  int64
 3   Garages       25121 non-null  int64
 4   Suites        25121 non-null  int64
 5   Area          25121 non-null  int64
 6   Valor         25107 non-null  float64
 7   Condominio    22495 non-null  float64
 8   Impuesto      18037 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.7+ MB

In [17]:
datos['Tipo']

0                       Cocineta
1                           Casa
2        Conjunto Comercial/Sala
3                   Departamento
4                   Departamento
                  ...
25116    Cochera/Estacionamiento
25117                   Cocineta
25118               Departamento
25119               Departamento
25120    Conjunto Comercial/Sala
Name: Tipo, Length: 25121, dtype: object

In [18]:
datos[['Habitaciones','Valor']]

       Habitaciones    Valor
0                 1   5950.0
1                 2  24500.0
2                 0  18200.0
3                 1   2800.0
4                 1   2800.0
...             ...      ...
25116             0  49000.0
25117             0   2800.0
25118             2   4900.0
25119             2  10500.0
25120             0  22750.0

[25121 rows x 2 columns]

Warning: total number of rows (25121) exceeds max_rows (20000). Limiting to first (20000) rows.

La biblioteca Pandas es una de las herramientas más utilizadas por los científicos de datos para el análisis y manipulación de datos. Proporciona dos estructuras de datos principales, el DataFrame y la Serie, que se utilizan ampliamente para representar y manipular datos tabulares en Python.

**DATAFRAME**

El DataFrame es una tabla de datos bidimensional, similar a una hoja de cálculo de Excel, con columnas etiquetadas y filas numeradas.

**SERIE**

La Serie es una estructura de datos unidimensional que puede almacenar cualquier tipo de datos, etiquetados con índices.

## **DEMANDAS DE ML**

### ¿Cuáles son los valores promedio de alquiler por tipo de propiedad?

In [20]:
datos.head()

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto
0,Cocineta,Condesa,1,0,0,40,5950.0,1750.0,210.0
1,Casa,Polanco,2,0,1,100,24500.0,NaN,NaN
2,Conjunto Comercial/Sala,Santa Fe,0,4,0,150,18200.0,14070.0,3888.5
3,Departamento,Centro Histórico,1,0,0,15,2800.0,1365.0,70.0
4,Departamento,Del Valle,1,0,0,48,2800.0,805.0,NaN

In [21]:
# Calculo del promedio "mean"
datos['Valor'].mean()
# Se esta calculando el promedio de todos los valores de todos los tipos de inmueble

np.float64(36885.05048392878)

In [24]:
datos.groupby('Tipo').mean(numeric_only=True)
# El numeric_only=True me asegura que calcule el promedio solo a los que son valores numericos
# Groupby calcula el promedio segun el 'Tipo'

,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto
Tipo,,,,,,,
Casa,3.359633,1.897248,1.438532,289.943119,31453.177064,3699.421642,6629.404851
Casa Comercial,1.801980,2.118812,0.257426,370.277228,54735.841584,7622.192308,6166.063380
Casa de Condominio,4.319672,3.555738,3.247541,566.303279,51428.609836,5286.578804,15046.939394
Casa de Vecindad,1.974684,0.379747,0.215190,79.981013,5961.740506,413.444444,706.850000
Cochera/Estacionamiento,0.064935,1.376623,0.000000,18.662338,6995.454545,1069.075000,449.458333
Cocineta,0.836088,0.020661,0.041322,29.090909,4425.856061,1521.734214,280.701461
Conjunto Comercial/Sala,0.047175,2.686323,0.000352,236.323711,57675.214550,17489.361142,5425.980245
Departamento,2.504199,1.256367,0.891899,124.014292,18683.269431,6797.092951,2634.921081
Departamento en Hotel,1.419780,0.969231,0.758242,65.848352,16285.430769,7250.650602,1768.923885
Edificio Completo,0.405530,11.175115,0.027650,1717.271889,409418.080645,234304.608696,50413.735294
Estudio,0.500000,0.250000,0.000000,103.250000,8400.000000,1921.500000,529.375000
Galpón/Depósito/Almacén,0.069204,5.311419,0.000000,2660.487889,299984.140138,48581.166667,22260.530899
Hotel,25.500000,2.500000,12.000000,885.500000,87500.000000,NaN,21707.000000
Industria,0.000000,0.000000,0.000000,22.000000,420000.000000,NaN,NaN
Loft,1.078947,0.552632,0.421053,56.263158,9924.526316,3501.200000,887.080645
Loteo/Condominio,0.000000,0.000000,0.000000,215.000000,92166.666667,NaN,17097.500000
Posada/Chalé,23.000000,0.000000,23.000000,862.000000,5180.000000,1032.500000,NaN
Rancho,5.125000,0.000000,3.750000,14993.750000,38014.375000,NaN,4375.000000
Terreno Estándar,0.066667,0.000000,0.000000,4012.044444,135364.444444,NaN,24988.750000
Tienda en Centro Comercial,0.055838,8.385787,0.010152,92.197970,32556.785714,6824.166667,4127.755882
Tienda/Salón,0.011840,1.349727,0.001821,242.169399,56263.544252,10395.491137,10532.468927

In [26]:
datos.groupby('Tipo')['Valor'].mean()
# Ya no es necesario colocar el numeric_only=True ya que los valores ya son numericos

Tipo
Casa                           31453.177064
Casa Comercial                 54735.841584
Casa de Condominio             51428.609836
Casa de Vecindad                5961.740506
Cochera/Estacionamiento         6995.454545
Cocineta                        4425.856061
Conjunto Comercial/Sala        57675.214550
Departamento                   18683.269431
Departamento en Hotel          16285.430769
Edificio Completo             409418.080645
Estudio                         8400.000000
Galpón/Depósito/Almacén       299984.140138
Hotel                          87500.000000
Industria                     420000.000000
Loft                            9924.526316
Loteo/Condominio               92166.666667
Posada/Chalé                    5180.000000
Rancho                         38014.375000
Terreno Estándar              135364.444444
Tienda en Centro Comercial     32556.785714
Tienda/Salón                   56263.544252
Name: Valor, dtype: float64

In [27]:
datos.groupby('Tipo')[['Valor']].mean().sort_values('Valor')
# Valor lo colocamos como un DataFrame en lugar de Series
# Y lo colocamos en forma ascendente segun su 'Valor' con metodo sort_values('Valor')

                                    Valor
Tipo
Cocineta                      4425.856061
Posada/Chalé                  5180.000000
Casa de Vecindad              5961.740506
Cochera/Estacionamiento       6995.454545
Estudio                       8400.000000
Loft                          9924.526316
Departamento en Hotel        16285.430769
Departamento                 18683.269431
Casa                         31453.177064
Tienda en Centro Comercial   32556.785714
Rancho                       38014.375000
Casa de Condominio           51428.609836
Casa Comercial               54735.841584
Tienda/Salón                 56263.544252
Conjunto Comercial/Sala      57675.214550
Hotel                        87500.000000
Loteo/Condominio             92166.666667
Terreno Estándar            135364.444444
Galpón/Depósito/Almacén     299984.140138
Edificio Completo           409418.080645
Industria                   420000.000000

In [1]:
df_tipo_precio = datos.groupby('Tipo')[['Valor']].mean().sort_values('Valor')

NameError: name 'datos' is not defined