<a href="https://colab.research.google.com/github/AIS-Tobe/Python_First-Steps/blob/main/Python_Data_Science_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python para Data Science

Notebook para el curso de Python para Data Science publicado en la plataforma de [Alura Latam](https://www.aluracursos.com/)

# Introducción a Python
¡Vamos a conocer Python, nuestro ambiente de estudio, y también generaremos nuestro primer código en este lenguaje!

## Google Colaboratory

Ya aprendimos qué es [Python](https://www.python.org/) y ahora aprenderemos a usar nuestra herramienta de ejecución [Google Colaboratory](https://colab.research.google.com/) para programar en un notebook interactivo.

Vamos a probar algunas funciones de este ambiente.

 **`>>> Usa esta celda para mover <<<`**

## ¡Hola mundo!

Vamos a conocer un poco más de cerca nuestro notebook. Para ello ejecutaremos nuestro primer comando en Python: [`print()`](https://docs.python.org/3/library/functions.html#print)

In [ ]:
print('¡Hola mundo!')

¡Hola mundo!

In [ ]:
15

15

In [ ]:
print('Mi nombre es Álvaro y tengo 39 años y me encanta la ciencia de datos.')

Mi nombre es Álvaro y tengo 39 años y me encanta la ciencia de datos.

# Manipulando los datos

Vamos a aprender sobre las variables en Python, cómo declararlas y utilizarlas además de conocer otros comandos de este lenguaje. :D

## Variables

En Data Science trabajamos con varios tipos de datos e informaciones, entonces es esencial saber cómo trabajar con las variables.

Las variables en Python se crean cuando atribuimos un valor a ella.

Para esto, colocamos el nombre de la variable, el signo de igual (`=`) y el valor que queremos atribuirle.

In [ ]:
5

5

In [ ]:
id(5)

135441040015728

In [ ]:
edad = 5

In [ ]:
print(id(edad))
print(id(5))

135441040015728
135441040015728

In [ ]:
numerocinco = 5

In [ ]:
id(numerocinco)

135441040015728

In [ ]:
nombre = 'Gabriel'

In [ ]:
id('Gabriel')

135440612058032

In [ ]:
id(nombre)

135440612058032

Existen algunos tipos de nomes que **no** podemos definir para las variables:

- **Nombres que comiencen con números**
  - Ejemplos: `10_notas`, `2_nombre_casa`, etc.
- **Palabras separadas por espacio**
  - Ejemplos: `Nombre escuela`, `notas estudiantes`, etc.
- **Nombres de funciones de Python**
  - Ejemplos: `print`, `type`, etc.

> Las letras mayúsculas y minúsculas generarán diferentes variables. La variable `edad` es diferente de `Edad` que a su vez es diferente de `EDAD`:
``` Python
edad = 1
Edad = 2
EDAD = 3
_edad = 4
_edad_ = 5
print(edad, Edad, EDAD, _edad, _edad_)
1 2 3 4 5
```

## Tipos de variables

Cada variable contiene una clase específica con respecto al tipo de objeto al cual esta hace referencia. Estas clases serán diferentes de acuerdo con el tipo de dato que le sea atribuido a una variable.

Para conocer la clase de cada elemento usamos la función [`type()`](https://docs.python.org/3/library/functions.html#type)

In [ ]:
edad = 5

In [ ]:
type(edad)

int

In [ ]:
promedio = 9.5
type(promedio)

float

In [ ]:
nombre = "Álvaro"
type('Álvaro')

str

In [ ]:
v = True
type(v)

bool

En un conjunto de datos escolares podemos tener varios tipos de informaciones. Supongamos que tenemos acceso a la ficha de datos del alumno *Penélope Camacho*, cómo transformamos este nombre en variables de Python?

#### Ficha:

- Nombre: Penélope Camacho
- Edad: 11 años
- Promedio del semestre: 9,75
- Situación de aprobación: Verdadera (aprobado)

In [ ]:
nombre_estudiante = 'Penélope Camacho'
edad_estudiante = 11
promedio_estudiante = 9.75
aprobado = True

print(nombre_estudiante,edad_estudiante,promedio_estudiante,aprobado)
print(type(nombre_estudiante),type(edad_estudiante),type(promedio_estudiante),type(aprobado))

Penélope Camacho 11 9.75 True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

## Variables numéricas

Entre los tipos de datos numéricos vamos a enfocarnos en los tipos `entero` y `float`.

Tenemos una tabla de información sobre los diversos cargos, cantidad de personas empleadas y el salario correspondiente:

|Cargo | Cantidad | Salario|
|---|---|---|
|Vigilante | 5 | 300 |
|Docente | 16| 500|
|Coordinador| 2 |600|

Necesitamos trabajar con estos datos para obtener:

- La cantidad total de empleados;
- La diferencia entre el salario más bajo y más alto; y
- El promedio ponderado de los salarios de los empleados de la escuela.

In [ ]:
c_vigilante = 5
s_vigilante = 300

c_docente = 16
s_docente = 500

c_coordinador = 2
s_coordinador = 600

In [ ]:
total_empleados = c_vigilante + c_docente + c_coordinador
total_empleados

23

In [ ]:
diferencia_salario = s_coordinador - s_vigilante
diferencia_salario

300

In [ ]:
promedio_salarios = (c_vigilante * s_vigilante + c_docente * s_docente
                     + c_coordinador * s_coordinador) / total_empleados
promedio_salarios

465.2173913043478

In [ ]:
type(promedio_salarios)

float

## Strings

Strings hace referencia a un conjunto de caracteres formando un texto.

Podemos crear Strings cuando atribuimos un dato a una variable entre comillas sencillas (`'`) o comillas dobles (`"`).

In [ ]:
t = 'Alura'
type(t)

str

Las variables textuales son objetos que poseen métodos que nos ayudan a formatear strings. Los métodos los podemos ejecutar al definir un objeto de acuerdo con la siguiente estructura:

```
objeto.metodo()
```

Existen métodos que no necesitan los `()`, siempre es una buena práctica verificar la documentación para cada caso.

---
**Situación:**

Recibimos una variable con el nombre de una profesora de la escuela para añadirla a los registros. Sin embargo, necesitamos darle un tratamiento a este texto antes de insertarlo al sistema.

In [ ]:
texto = '  Micaela de los Sanyos '
id(texto)

135440612104896

El objetivo final es que el nombre aparezca de la siguiente forma:

```
'MICAELA DE LOS SANTOS'
```

### [`str.upper()` ](https://docs.python.org/3/library/stdtypes.html#str.upper)
Convierte una string a mayúsculas.

In [ ]:
texto.upper()

'  MICAELA DE LOS SANYOS '

### [`str.lower()`](https://docs.python.org/3/library/stdtypes.html#str.lower)
Convierte una string a minúsculas.

In [ ]:
texto.lower()

'  micaela de los sanyos '

### [`str.strip()`](https://docs.python.org/3/library/stdtypes.html#str.strip)
Elimina los espacios en blanco al inicio y al final de una string.

In [ ]:
texto.strip()

'Micaela de los Sanyos'

### [`str.replace(antiguo, nuevo)`](https://docs.python.org/3/library/stdtypes.html#str.replace)

Sustituye todas las ocurrencias del texto "antiguo" en la string por el  "nuevo".

In [ ]:
texto.replace('y','t')

'  Micaela de los Santos '

### Observaciones

1. Los métodos devuelven una **tranformación**, no son ejecutados directamente sobre la variable donde está almacenado el texto.

2. Adicionalmente, podemos acumular la ejecución de los métodos.

In [ ]:
texto

'  Micaela de los Sanyos '

In [ ]:
id(texto)

135440612104896

Para que la transformación se pueda ejecutar debemos atribuir la salida de las transformaciones a las variables

In [ ]:
nuevo_texto = texto.strip().replace('y','t').upper()
print(nuevo_texto)
print(id(texto), id(nuevo_texto))

MICAELA DE LOS SANTOS
135440612104896 135440611863936

In [ ]:
texto = texto.strip().replace('y','t').upper()
print(texto)
print(id(texto), id(nuevo_texto))

MICAELA DE LOS SANTOS
135440612160208 135440611863936

## Capturando datos

En algunas aplicaciones necesitamos capturar los valores del usuario de nuestro proyecto. En python, logramos capturar los datos del usuario a través del comando [`input()`](https://docs.python.org/3/library/functions.html#input).

Para ejecutar la captura debemos atribuir el resultado de esta función a una variable.

In [ ]:
nombre = input("Escribe tu nombre: ")

Escribe tu nombre: Álvaro

In [ ]:
type(nombre)

str

EJERCISIOS DE DESARROLLO

In [ ]:
name = input('Ingresa tu nombre: ')
print(f'Hola,', name)

Ingresa tu nombre: Ernesto
Hola, Ernesto

In [ ]:
name1 = input('Ingresa tu nombre: ')
anos = int(input('Ingresa tu edad: '))
# print(f'Hola,', name1,'tienes', anos,'años')

Ingresa tu nombre: Ernesto
Ingresa tu edad: 26

In [ ]:
name2 = input('Ingresa tu nombre: ')
anos2 = int(input('Ingresa tu edad: '))
altura = float(input('Ingresa tu altura: '))
print(f'Hola,', name2,'tienes', anos2,'años y mides',altura,'metros')

Ingresa tu nombre: Ernesto
Ingresa tu edad: 26
Ingresa tu altura: 1.74
Hola, Ernesto tienes 26 años y mides 1.74 metros

In [ ]:
num1 = int(input('Ingresa el primer número: '))
num2 = int(input('Ingresa el segundo número: '))
suma = num1 + num2
print(f'La suma de {num1} y {num2} es {suma}')
print(f'La resta de {num1} y {num2} es {num1-num2}')
print(f'La multiplicación de {num1} y {num2} es {num1*num2}')
print(f'La división de {num1} y {num2} es {num1/num2}')
print(f'La potenciacion de {num1} elevado a {num2} es: {num1**num2}' )
print(f'El resto de dividir {num1} y {num2} es: {num1%num2}')

Ingresa el primer número: 5
Ingresa el segundo número: 2
La suma de 5 y 2 es 7
La resta de 5 y 2 es 3
La multiplicación de 5 y 2 es 10
La división de 5 y 2 es 2.5
La potenciacion de 5 elevado a 2 es: 25
El resto de dividir 5 y 2 es: 1

La salida de este comando siempre será una *string*. Esto quiere decir que aunque capturemos un valor de variable numérica, este será de tipo string.

Entonces, será necesario **convertir el resultado cuando no se desea utilizar el valor como tipo string**.

Existen funciones para la conversión de valores:

- Enteros: [`int(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#int)
- Coma flotante: [`float(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#float)
- String: [`str(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#func-str)
- Booleano: [`bool(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#bool)

In [ ]:
ano_admision = int(input('Digita el año de admisión: '))

Digita el año de admisión: 2023

In [ ]:
type(ano_admision)

int

In [ ]:
nota_admision = float(input('Digita la nota de admisión: '))

Digita la nota de admisión: 9.5

In [ ]:
type(nota_admision)

float

Trataremos de representar mejor ahora el resultado de la transformación que obtuvimos. Nosotros podemos formatear y presentar nuestro resultado mezclando strings con valores no textuales.

Para ello utilizamos la estructura de formatación `f` con strings.

In [ ]:
print(f'\tEl año de admisión fue: {ano_admision} \n\tLa nota de admisión fue: {nota_admision}')

	El año de admisión fue: 2023
	La nota de admisión fue: 9.5

# Comentarios
Una linea usamos #
varias lineas usamos '''  y cerramos con '''

In [ ]:
# Este es un comentario

In [ ]:
"""
Este es un comentario
de varias líneas.
"""

'\nEste es un comentario\nde varias líneas.\n'

#MARKDOWN
# Encabezado de nivel 1
## Encabezado de nivel 2
### Encabezado de nivel 3
**Texto en negritas**

*Texto en cursiva*

***Texto en negritas y cursiva***
* Elemento 1
* Elemento 2
* Elemento 3

1. Elemento 1
2. Elemento 2
3. Elemento 3

[Página de Alura](https://www.aluracursos.com/)

## EXPONENCIACION (**)
Podemos elevar un número a una potencia específica utilizando el operador **
## RESIDUO (%)
El operador de módulo % puede devolver el residuo de una división entera entre dos números.
## DIVISION ENTERA (//)
Esta operación devuelve el resultado de la división entera entre dos números, es decir, solo devuelve la parte entera de una división. Por ejemplo, sabemos que la división exacta de 7 por 3 (7/3) resulta en el valor 2.333333.... Si esta fuera una división entera, el resultado sería simplemente 2

## TABLA UNICODE

[UNICODE](https://www.unicode.org/versions/stats/)

In [ ]:
chr(64)

'@'

In [ ]:
chr(72) + chr(111) +  chr(108) + chr(97)

'Hola'

# Estructuras condicionales

In [ ]:
# Nota de aprobacion entre 7-10 == nota aprobacion >= 7
# Nota de reprobacion es menor a 7 == nota de reprobacion < 7
'''
Si la nota es amyor o igual a 7 entonces el estudiante aprueba
Si no, entonces el estudiante reprueba
'''

'\nSi la nota es amyor o igual a 7 entonces el estudiante aprueba\nSi no, entonces el estudiante reprueba\n'

## `IF` y `ELSE`

Los comandos `if` y `else` son dos estructuras condicionales. El comando `if` ejecutará el bloque de comandos en caso de que la condición citada sea  **verdadera**. El comando `else` ejecutará el bloque de comandos en el caso de que la condicional de `if` sea **falsa**.

El comando `if` es una palabra clave en Python que significa "si". Este se emplea para conformar la estructura condicional, que te permite verificar si una determinada condición es verdadera o falsa e, inmediatamente después, ejecute un bloque de código específico dependiendo del resultado de la verificación. La sintaxis para usar el comando `if` es:



```
if condicion:
    # Realiza algo
```

In [ ]:
if 2 < 7:
  print('La condicion es verdadera.')

La condicion es verdadera.

Ya el comando `else` en Python se usa en junción con la palabra clave `if` para formar una estructura condicional. la sintaxis para usar el `else` es:

```
if condicion:
  # codigo en caso de que sea verdad
else:
  # codigo en caso de que sea falso
```

el comando `else` se ejecuta cuando la condición verificada por el `if` es evaluada como `False`.

In [ ]:
if 2 > 7:
  print('La condicion es verdadera.')
else:
  print('La condicion es falsa.')
print('fin de la consulta')

La condicion es falsa.
fin de la consulta

---
**Situación:**

Recibiremos el promedio de la nota de los estudiantes y necesitamos de un algoritmo que ejecute el análisis y determine si el estudiante fue **Aprobado** o **Reprobado**, mostrando un mensaje del resultado. Para ser aprobado, el promedio necesita ser igual o superior a 7.0.

In [ ]:
nota = float(input('Ingresa la nota: '))

if nota >= 7.0:
  print('Aprobado')
else:
  print('Reprobado')

Ingresa la nota: 8
Aprobado

Ahora, nuestra institución educativa estableció que las personas que tengan el promedio entre 5.0 y 7.0 pueden participar del curso de **Recuperación** durante las vacaciones para lograr aprobar.

Entonces podemos apoyarnos en un conjunto de `if`s para poder estructurar esta nueva condición.

In [ ]:
nota = float(input('Ingresa la nota: '))
if nota >= 7:
  print('Aprobado')
if 7 > nota >= 5:
  print('Recuperación')
else:
  print('Reprobado')

Ingresa la nota: 7.1
Aprobado
Reprobado

El else se asocia solo al if precedente. Por lo ejecuta segun el ejemplo.

Observa que en casos con 3 situaciones como este necesitamos definir bien nuestras condiciones. Pues, si realizamos una condición con `else` al final, este irá a considerar solamente la condición `if` inmediatamente anterior para generar la salida en caso de que el resultado de su operación lógica sea **falso** dando como resultado, dos o más ejecuciones.

Por ejemplo:

## `ELIF`

El comando `elif` es una palabra clave en Python que significa "si no, si" y lo podemos considerar una *contracción* entre `else` e `if`. Se utiliza en conjunto con la palabra clave `if` para formar una estructura condicional en cadena.

la sintaxis para utilizar el comando `elif` es:

```
if condicion1:
    # Realiza algo
elif condicion2:
    # Realiza otra cosa
elif condicion3:
    # Realiza otra cosa
else:
    # Realiza algo diferente
```

El comando `elif` permite que puedas verificar varias condiciones en cadena, economizando espacio en tu código. Si la primera condición se evalúa como `False`, el interpretador de Python evaluará la próxima condición con el `elif`. Ello continuará hasta que una condición sea evaluada como `True` o hasta que el `else` sea alcazado. Si ninguna de las condiciones es evaluada como `True`, la ejecución del código del comando `else` será iniciada.

Vamos a emplear el mismo caso anterior:

In [ ]:
nota = float(input('Ingresa la nota: '))
if nota >= 7:
  print('Aprobado')
elif 7 > nota >= 5:
  print('Recuperación')
else:
  print('Reprobado')

Ingresa la nota: 8.1
Aprobado

## Operadores

Durante la construcción de comandos a veces necesitamos de una elaboración mayor de la expresión condicional, necesitando que algunos operadores lógicos se encuentren integrados.

### `AND`, `OR`, `NOT`

Los operadores lógicos `and`, `or` y `not` son usados para combinar expresiones lógicas en Python. Ellos son usados frecuentemente en conjunto con el comando `if` para crear estructuras condicionales más complejas.

- `AND` es usado para verificar si dos condiciones son verdaderas. La expresión lógica¹ `x and y` se evalúa como `True` tan solo si **ambas condiciones `x` y `y` son verdaderas**, y como `False` en caso contrario.

- `OR` es usado para verificar si al menos una de las condiciones es verdadera. La expresión lógica `x or y` se evalúa como `True` **si al menos una de las condiciones `x` o `y` es verdadera**, y como `False` si ambas condiciones son falsas.

- `NOT` es usado para **negar una condición**. La expresión lógica `not x` es evaluada como `True` si la condición x es falsa, y como `False` si la condición x es verdadera.

¹ Una expresión lógica es una declaración que puede ser evaluada como verdadera o falsa. Ella se compone por operandos lógicos² y por operadores lógicos³, que son usados ​​para combinar varias expresiones lógicas en una única expresión.

² Los operandos lógicos son los elementos que son comparados o evaluados en una expresión lógica. Ellos son generalmente valores verdaderos o falsos, pero también pueden ser expresiones lógicas más complejas. En Python, los operandos lógicos son los valores `True` y `False`.

³ Los operadores lógicos son ls símbolos o palabras clave que son usados ​​para combinar varias expresiones lógicas en una única expresión. En Python, los operadores lógicos son `and`, `or` y `not`, bien como las palabras clave `if`, `elif` e `else`.

> Operadores lógicos más comunes

|a|b|AND|OR|NOT|
|-|-|-|-|-|
|0|0|0|0|1
|0|1|0|1|-
|1|0|0|1|-
|1|1|1|1|0

In [ ]:
v = True
f = False

In [ ]:
if v and v:
  print('La condicion es verdadera')
else:
  print('La condicion es falsa')

La condiciones es verdadera

In [ ]:
if v or f:
  print('La condicion es verdadera')
else:
  print('La condicion es falsa')

La condicion es verdadera

In [ ]:
if not f:
  print('La condicion es verdadera')
else:
  print('La condicion es falsa')

La condicion es verdadera

### `IN`

Es usado para verificar si un elemento está presente en una lista, tupla u otra colección de conjunto. La expresión `x in y` se evalúa como `True` si el elemento `x` esta presente na variávelen la variable de conjunto `y`, y como `False` en caso contrario.

Podemos verificarlo con variables de texto.

---

**Situación:**

En la escuela nos entregaron una lista con nombres de estudiantes que fueron aprobados según el promedio del semestre, pero es necesario verificar si algunos nombres están en esa lista para confirmar que los datos estén correctos.

La lista distribuida puede ser observada a continuación:

```
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez,
    Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres,
    David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro,
    Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina,
    Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero,
    Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'
```

Los nombres que necesitas verificar son los siguientes:

```
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'
```

In [ ]:
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez, Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres, David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro, Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina, Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero, Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'

In [ ]:
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'

In [ ]:
if nombre_1 in lista:
  print('El estudiante aprobo')
else:
  print('El estudiante reprobo')

El estudiante aprobo

# EJERCISIOS DE CLASE
8 - Escribe un programa que solicite un número entero a la persona usuaria y determine si es par o impar. Pista: Puedes usar el operador módulo (%).

9 - Escribe un programa que pida un número a la persona usuaria y le informe si es entero o decimal.

Momento de los proyectos

10 - Un programa debe ser escrito para leer dos números y luego preguntar a la persona usuaria qué operación desea realizar. El resultado de la operación debe incluir información sobre el número, si es par o impar, positivo o negativo, e entero o decimal.

11 - Escribe un programa que pida a la persona usuaria tres números que representan los lados de un triángulo. El programa debe informar si los valores pueden utilizarse para formar un triángulo y, en caso afirmativo, si es equilátero, isósceles o escaleno. Ten en cuenta algunas sugerencias:

Tres lados forman un triángulo cuando la suma de cualesquiera dos lados es mayor que el tercero;
Triángulo Equilátero: tres lados iguales;
Triángulo Isósceles: dos lados iguales;
Triángulo Escaleno: tres lados diferentes.

12 - Un establecimiento está vendiendo combustibles con descuentos variables. Para el etanol, si la cantidad comprada es de hasta 15 litros, el descuento será del 2% por litro. En caso contrario, será del 4% por litro.
Para el diésel, si la cantidad comprada es de hasta 15 litros, el descuento será del 3% por litro.
En caso contrario, será del 5% por litro.
- El precio por litro de diésel es de: 2 dolares.
- El precio por litro de etanol es de  1,70 dolares.

Escribe un programa que lea la cantidad de litros vendidos y el tipo de combustible (E para etanol y D para diésel) y calcule el valor a pagar por el cliente. Ten en cuenta algunas sugerencias:

El valor del descuento será el producto del precio por litro, la cantidad de litros y el valor del descuento.
El valor a pagar por un cliente será el resultado de la multiplicación del precio por litro por la cantidad de litros menos el valor del descuento resultante del cálculo.

13 - En una empresa de venta de bienes raíces, debes crear un código que analice los datos de ventas anuales para ayudar a la dirección en la toma de decisiones. El código debe recopilar los datos de cantidad de ventas durante los años 2022 y 2023 y calcular la variación porcentual. A partir del valor de la variación, se deben proporcionar las siguientes sugerencias:

Para una variación superior al 20%: bonificación para el equipo de ventas.
Para una variación entre el 2% y el 20%: pequeña bonificación para el equipo de ventas.
Para una variación entre el 2% y el -10%: planificación de políticas de incentivo a las ventas.
Para bonificaciones inferiores al -10%: recorte de gastos.

In [ ]:
# Ejercicio 1
# 1 - Escribe un programa que pida a la persona usuaria que proporcione dos números y muestre el número más grande.
num_1 = int(input('Ingresa el primer número: '))
num_2 = int(input('Ingresa el segundo número: '))
if num_1 > num_2:
  print(f'El número mayor es: {num_1}')
else:
  print(f'El número mayor es: {num_2}')

Ingresa el primer número: 7
Ingresa el segundo número: 5
El número mayor es: 7

In [ ]:
# Ejercisio 2
# 2 - Escribe un programa que solicite el porcentaje de crecimiento de producción de una empresa e informe si hubo un crecimiento (porcentaje positivo) o una disminución (porcentaje negativo).
porcentaje = float(input('Ingresa el porcentaje de crecimiento: '))
if porcentaje > 0:
  print('Hubo un crecimiento')
elif porcentaje == 0:
  print('Sin cambios')
else:
  print('Hubo una disminución')

Ingresa el porcentaje de crecimiento: 4.8
Hubo un crecimiento

In [ ]:
# Ejercicio 3
# 3 - Escribe un programa que determine si una letra proporcionada por la persona usuaria es una vocal o una consonante.
letra = input('Ingresa una letra: ')
if letra == 'a' or letra == 'e' or letra == 'i' or letra == 'o' or letra == 'u':
  print('Es una vocal')
else:
  print('Es una consonante')

Ingresa una letra: a
Es una vocal

In [ ]:
# Ejercicio 4
# 4 - Escribe un programa que lea valores promedio de precios de un modelo de automóvil durante 3 años consecutivos y muestre el valor más alto y más bajo entre esos tres años.
# Recolectamos los precios de los 3 años
precio_ano1 = float(input('Ingrese el precio promedio del automóvil en el primer año: '))
precio_ano2 = float(input('Ingrese el precio promedio del automóvil en el segundo año: '))
precio_ano3 = float(input('Ingrese el precio promedio del automóvil en el tercer año: '))
# Determinamos el valor más alto mediante comparaciones
mayor = precio_ano1
if precio_ano2 > mayor:
  mayor = precio_ano2
if precio_ano3 > mayor:
  mayor = precio_ano3
# Determinamos el valor más bajo mediante comparaciones
menor = precio_ano1
if precio_ano2 < menor:
  menor = precio_ano2
if precio_ano3 < menor:
  menor = precio_ano3
# Mostramos los resultados
print(f'El precio más alto fue de $ {mayor}.')
print(f'El precio más bajo fue de $ {menor}.')

Ingrese el precio promedio del automóvil en el primer año: 90
Ingrese el precio promedio del automóvil en el segundo año: 80
Ingrese el precio promedio del automóvil en el tercer año: 70
El precio más alto fue de $ 90.0.
El precio más bajo fue de $ 70.0.

In [ ]:
# EJERCICIO 5
# 5 - Escribe un programa que pregunte sobre el precio de tres productos e indique cuál es el producto más barato para comprar.
# Recolectamos el precio de tres productos
producto1 = float(input('Ingrese el precio del primer producto: '))
producto2 = float(input('Ingrese el precio del segundo producto: '))
producto3 = float(input('Ingrese el precio del tercer producto: '))

# Usamos el operador lógico `and` para determinar cuál es el precio más bajo entre los 3 productos
# ya que esto nos permite hacer una comparación de 3 entradas
if producto1 < producto2 and producto1 < producto3:
    print('El primer producto es el más barato.')
elif producto2 < producto1 and producto2 < producto3:
    print('El segundo producto es el más barato.')
else:
    print('El tercer producto es el más barato.')

Ingrese el precio del primer producto: 90
Ingrese el precio del segundo producto: 80
Ingrese el precio del tercer producto: 110
El segundo producto es el más barato.

In [ ]:
# EJERCICIO 6
# 6 - Escribe un programa que lea tres números y los muestre en orden descendente.
# Leer los tres números
num1 = float(input("Ingresa el primer número: "))
num2 = float(input("Ingresa el segundo número: "))
num3 = float(input("Ingresa el tercer número: "))

# Comparar los números y mostrarlos en orden descendente
if num1 >= num2 and num1 >= num3:
    if num2 >= num3:
        print(num1, num2, num3)
    else:
        print(num1, num3, num2)
elif num2 >= num1 and num2 >= num3:
    if num1 >= num3:
        print(num2, num1, num3)
    else:
        print(num2, num3, num1)
else:
    if num1 >= num2:
        print(num3, num1, num2)
    else:
        print(num3, num2, num1)

Ingresa el primer número: 9
Ingresa el segundo número: 5
Ingresa el tercer número: 6
9.0 6.0 5.0

In [ ]:
# EJERCICIO 7
# 7 Escribe un programa que pregunte en qué turno estudia la persona usuaria ("mañana", "tarde" o "noche") y
# muestre el mensaje "¡Buenos Días!", "¡Buenas Tardes!", "¡Buenas Noches!" o "Valor Inválido!", según el caso.

# Recolectamos el turno de estudio
turno = input('Ingresa en qué turno estudias (mañana, tarde o noche): ')

# Comparamos la entrada con todas las opciones y mostramos el resultado.
if turno == 'mañana':
  print('¡Buenos Días!')
elif turno == 'tarde':
  print('¡Buenas Tardes!')
elif turno == 'noche':
  print('¡Buenas Noches!')
else:
  print('¡Valor Inválido!')

Ingresa en qué turno estudias (mañana, tarde o noche): mañana
¡Buenos Días!

# Estructuras de repetición

Cuando tenemos que ejecutar un mismo bloque de comandos durante varias ocasiones no es nada práctico hacerlo a mano.

**Situación**: Nos fue solicitado obtener e imprimir el promedio de 2 notas de **3 estudantes**:

In [ ]:
nota_1 = float(input('Ingresa la nota 1: '))
nota_2 = float(input('Ingresa la nota 2: '))
print(f'El promedio primer estudiante: {(nota_1 + nota_2) / 2}')

nota_1 = float(input('Ingresa la nota 1: '))
nota_2 = float(input('Ingresa la nota 2: '))
print(f'El promedio segundo estudiante: {(nota_1 + nota_2) / 2}')

nota_1 = float(input('Ingresa la nota 1: '))
nota_2 = float(input('Ingresa la nota 2: '))}
print(f'El promedio tercer estudiante: {(nota_1 + nota_2) / 2}')

Ingresa la nota 1: 10
Ingresa la nota 2: 15
El promedio primer estudiante: 12.5
Ingresa la nota 1: 11.25
Ingresa la nota 2: 13.25
El promedio segundo estudiante: 12.25
Ingresa la nota 1: 14
Ingresa la nota 2: 09
El promedio tercer estudiante: 11.5

Ahora imaginemos una situación en que no son tan solo 3 estudiantes, sino 100 estudiantes. No sería nada interesante repetir el mismo código 100 veces, sino **ejecutar el mismo código 100 veces**.

¡Esta estructura la logramos construir con lazos de repetición!

## `WHILE`

El lazo `while` es una estructura de control de repetición en Python que permite ejecutar un bloque de código repetidamente mientras que una determinada condición sea verdadera. Su estructura es:



```
while condicion:
    # bloque de codigo
```

Vamos a construir un ejemplo con un contador de 1 hasta 10.

In [ ]:
contador = 1
while contador <= 10:
  print(contador)
  contador += 1
  #contador = contador +1

1
2
3
4
5
6
7
8
9
10

Ahora vamos a colectar las notas y promedios de cada alumno dentro del lazo `while`. Haremos un ejemplo con 3 promedios.

In [ ]:
contador = 1
while contador <= 3:
  nota_1 = float(input('Ingresa la nota 1: '))
  nota_2 = float(input('Ingresa la nota 2: '))
  print(f'El promedio estudiante {contador}: {(nota_1 + nota_2) / 2}')
  contador += 1

Ingresa la nota 1: 8.5
Ingresa la nota 2: 7
El promedio estudiante 1: 7.75
Ingresa la nota 1: 12
Ingresa la nota 2: 14
El promedio estudiante 2: 13.0
Ingresa la nota 1: 11
Ingresa la nota 2: 12.78
El promedio estudiante 3: 11.89

# OPERADORES DE ASIGNACION

+= :Suma un valor de la variable asignada

-= :Resta un valor de la variable asignada

*= :Multiplica un valor de la variable     asignada

/= :Divide un valor de la variable asignada

//= :Realiza una division entera de la variable asignada

%= :Calcula el resto de la division del valor en la variable

## `FOR`

El lazo `for` es un tipo de estructura de control de flujo en Python que permite iterar sobre un conjunto de elementos. Su estructura es:



```
for elemento in conjunto:
    # codigo a ser ejecutado para cada elemento
```

El lazo `for` itera sobre cada elemento del conjunto especificado y ejecuta el bloque de código dentro del lazo para cada elemento. Cuando el lazo llega al final del conjunto, este se interrumpe y el programa continúa la ejecución después del lazo.

El conjunto lo podemos generar con la función incorporada [`range()`](https://docs.python.org/3/library/functions.html#func-range). Se trata de una función capaz de generar una secuencia de números enteros. La estructura de esta función es:

```
range(inicio, fin, paso)
```

Según la documentación, `range()` genera una secuencia de números enteros a partir del valor del parámetro `inicio` hasta el valor del parámetro `fin`, de acuerdo con el valor del parámetro `paso`. Si `inicio` no es especificado, el valor por defecto es `0`. Si `paso` no es especificado, el valor por defecto es `1`.

Vamos a recrear el mismo contador `while` con el lazo `for`.

In [ ]:
for n in range(1,11):
  print(n)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for n in range(1,4):
  nota_1 = float(input('Ingresa la nota 1: '))
  nota_2 = float(input('Ingresa la nota 2: '))
  print(f'El promedio estudiante {n}: {(nota_1 + nota_2) / 2}')

Ingresa la nota 1: 10
Ingresa la nota 2: 12
El promedio estudiante 1: 11.0
Ingresa la nota 1: 15
Ingresa la nota 2: 16
El promedio estudiante 2: 15.5
Ingresa la nota 1: 14
Ingresa la nota 2: 12
El promedio estudiante 3: 13.0

# COMANDOS DE CONTROL EN BUCLE FOR Y WHILE
Cuando trabajamos con bucles, podemos controlar el flujo de ejecución dentro del bloque de código, lo que nos permite manipular la ejecución de los bucles. continue y break son los comandos de control que podemos usar con los bucles for y while.

In [ ]:
#Este codigo imprime del 1-5 excepto el 4, cuando el valor de i = 4, "continue" salta
# a la siguiente iteracion.
for i in range(1, 6):
    if i == 4:
        continue
    print(i)

1
2
3
5

In [ ]:
# Por otro lado, break detiene por completo la ejecución del bucle, saliendo del bloque
# de código. Utilicemos el mismo ejemplo de conteo, pero esta vez con break.
for i in range(1, 6):
    if i == 4:
        break
    print(i)

1
2
3

In [ ]:
# EJERCICIO 1
# 1 - Escribe un programa que solicite dos números enteros e imprima todos los números enteros entre ellos.
num_1 = int(input('Ingresa el primer número: '))
num_2 = int(input('Ingresa el segundo número: '))
# Condicion para entrar el bucle
if num_1 < num_2:
  for i in range(num_1 , num_2 + 1):
    print(i)

Ingresa el primer número: -1
Ingresa el segundo número: 2
-1
0
1
2

In [ ]:
# EJERCICIO 2
# 2 - Escribe un programa para calcular cuántos días tomará que la colonia de una bacteria A supere o iguale a la colonia de una bacteria B, basado en tasas de crecimiento del 3% y 1.5%,
# respectivamente. Supón que la colonia A comienza con 4 elementos y B con 10.

# Día inicial
t = 0

# Población inicial
Pi_A = 4
Pi_B = 10

# Tasas de crecimiento
tasa_A = 0.03
tasa_B = 0.015

# Poblaciones actuales
Pob_A = Pi_A
Pob_B = Pi_B

# Bucle hasta que A >= B
while Pob_A < Pob_B:
    t += 1
    Pob_A = Pi_A * (1 + tasa_A) ** t
    Pob_B = Pi_B * (1 + tasa_B) ** t

print(f"Tomará {t} días que la colonia A supere o iguale a la colonia B.")
print(f"Población A: {Pob_A:.2f} | Población B: {Pob_B:.2f}")

Tomará 63 días que la colonia A supere o iguale a la colonia B.
Población A: 25.75 | Población B: 25.55

In [ ]:
# EJERCICIO 3
# 3 - Para procesar una cantidad de 15 datos de evaluaciones de usuarios de un servicio de la empresa, necesitamos verificar si las calificaciones son válidas. Por lo tanto,
# escribe un programa que recibirá calificaciones del 0 al 5 y verificará si son valores válidos. Si se ingresa una calificación superior a 5 o inferior a 0, se repetirá hasta
# que el usuario ingrese un valor válido.

num_eva = 1
while num_eva <= 4:
    eva = int(input('Ingrese la calificacion: '))
    if eva >= 0 and eva <= 5:
      print('Calificacion valida')
      num_eva +=1
    else:
      print('Calificacion in}valida')

Ingrese la calificacion: 2
Calificacion valida
Ingrese la calificacion: 2
Calificacion valida
Ingrese la calificacion: 2
Calificacion valida
Ingrese la calificacion: 2
Calificacion valida

In [ ]:
#OTRA VERSION
for i in range(4):
  nota = float(input(f'Ingresa la nota del usuario {i}: '))
  while nota < 0 or nota > 5:
    nota = float(input(f'Nota no valida, Ingresa nuevamente la nota: '))
print('Verificacion completa. Todas las notas son validas')

Ingresa la nota del usuario 0: 1
Ingresa la nota del usuario 1: 8
Nota no valida, Ingresa nuevamente la nota: 2
Ingresa la nota del usuario 2: 7
Nota no valida, Ingresa nuevamente la nota: 3
Ingresa la nota del usuario 3: 5
Verificacion completa. Todas las notas son validas

In [ ]:
# EJERCICIO 4
# 4 - Desarrolla un programa que lea un conjunto indefinido de temperaturas en grados Celsius y calcule su promedio. La lectura debe detenerse al ingresar el valor -273°C.

In [ ]:
# EJERCICIO 5
# 5 - Escribe un programa que calcule el factorial de un número entero proporcionado por el usuario.
# n! = n * (n-1) * (n-2) * ... * (n-n+1)
# Solicita el número
num = int(input('Ingresa un número entero: '))
# Inicializa el cálculo
factorial = 1
# Bucle ascendente: va desde 1 hasta num (incluido)
for i in range(1, num + 1):
    factorial *= i  # Multiplicamos el acumulador por i
# Imprime el resultado
print(f'El factorial de {num} es {factorial}')

Ingresa un número entero: 5
El factorial de 5 es 120

In [ ]:
#OTRA FORMA CON WHILE (DESCENDENTE)
# Solicita el número
num = int(input('Ingresa un número entero: '))
# Inicializa el cálculo
factorial = 1
# Nuestro contador comienza con el número máximo
# y se realizará un conteo decreciente con el operador -=
i = num
while i > 0:
    # Multiplicamos factorial por i en cada paso
    factorial *= i
    i -= 1
# Imprime el cálculo del factorial
print(f'El factorial de {num} es {factorial}')

Ingresa un número entero: 5
El factorial de 5 es 120

# Estructuras de datos

Un conjunto de elementos es una colección de items, que son almacenados juntos de manera organizada. Algunos ejemplos de conjuntos de elementos en Python son las listas, los strings y los diccionarios.

## Listas

Las listas pueden almacenar una colección de items en orden. Ellas son delimitadas por corchetes `[]` y sus elementos son separados por comas.

Estas pueden almacenar cualquier tipo de items, incluyendo números, strings, objetos, otras listas, entre otros. También nos permiten almacenar items de tipos de datos diferentes juntos en una única lista.

In [ ]:
lista = ['Penélope Camacho',9.5,9.0,9.7,True]
lista

['Penélope Camacho', 9.5, 9.0, 9.7, True]

In [ ]:
type(lista)

list

Las listas son organizadas en Python porque **cada elemento de la lista tiene un índice que indica su posición al interior de la lista**. Los índices comienzan en 0 van hasta el tamaño de la lista menos 1.

Tenemos entonces 5 elementos con índices que varían de 0 a 4, ordenadamente:

```
#             [0]           [1]   [2]   [3]    [4]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

En Python tenemos también los índices **negativos** que se inician en el último elemento con el valor de `-1` y avanzan en el universo de los negativos hasta llegar al 1° elemento:

```
#             [-5]         [-4]  [-3]  [-2]   [-1]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

Logramos seleccionar separadamente cada elemento a través de sus respectivos índices. Colocando el nombre de la lista y en seguida el índice que será seleccionado.

In [ ]:
lista[0]

'Penélope Camacho'

In [ ]:
lista[-1]

True

In [ ]:
type(lista[-1])

bool

In [ ]:
type(lista[0])

str

Una forma más dinámica de trabajar item a item en una lista es utilizando un lazo `for` para leer un elemento a la vez.

In [ ]:
for elemento in lista:
  print(elemento)

Penélope Camacho
9.5
9.0
9.7
True

**Situación**: La nota `9.0` de Penélope necesita ser ajustada pues ganó 1 punto en su última nota por participación en clase. Entonces es necesario realizar un cambio en el índice `2` de `9.0` a `10.0`.

In [ ]:
lista[2] = 10
lista

['Penélope Camacho', 9.5, 10, 9.7, True]

También podemos calcular el promedio del estudiante a partir de los datos que tenemos.

In [ ]:
promedio = (lista[1] + lista[2] + lista[3])/3
# print(f'{promedio:.2f}')
promedio

9.733333333333333

## Secuencia de caracateres

In [ ]:
lenguaje = 'Python'

In [ ]:
# Los índices solo se utilizan para acceder a los datos y no se puede cambiar el carácter presente en un índice específico mediante una simple asignación, como se hace con las listas.
# Por ejemplo, el código lenguaje[0] = 'p' generará un error en la compilación.
print(lenguaje[0], lenguaje[1], lenguaje[2], lenguaje[-3], lenguaje[-2], lenguaje[-1])

P y t h o n

Es posible convertir una cadena en una lista mediante el método split(). Este método divide la cadena en una lista de cadenas, utilizando un delimitador especificado entre paréntesis. Este delimitador debe ser una cadena.

Como ejemplo, convirtamos la cadena en una lista dividiéndola cada vez que aparezca el signo de interrogación "?":

In [ ]:
pregunta = '¿Quién vino primero? ¿El huevo? ¿O fue la serpiente?'
lista_palabras = pregunta.split('?')
print(lista_palabras)

['¿Quién vino primero', ' ¿El huevo', ' ¿O fue la serpiente', '']

In [ ]:
#El delimitador no aparece en la separación. Si no se define un delimitador, la cadena se separará por todos los espacios en blanco en el texto.
pregunta = '¿Quién vino primero? ¿El huevo? ¿O fue la serpiente?'
lista_palabras = pregunta.split()
print(lista_palabras)

['¿Quién', 'vino', 'primero?', '¿El', 'huevo?', '¿O', 'fue', 'la', 'serpiente?']

Lo contrario también es posible, ya que podemos convertir una lista en una cadena mediante el método join(). Para usar esta función, debemos definir el carácter que se utilizará para unir los elementos de la lista y formar la cadena. Luego, usamos el método { join() pasando la lista como argumento.

In [ ]:
mezclas = ['Pinturas: rojo, azul y amarillo', 'Verde: mezcla de azul y amarillo', 'Naranja: mezcla de rojo y amarillo', 'Morado: mezcla de rojo y azul']
unificador = '. '
cadena_mezclas = unificador.join(mezclas)
print(cadena_mezclas)

Pinturas: rojo, azul y amarillo. Verde: mezcla de azul y amarillo. Naranja: mezcla de rojo y amarillo. Morado: mezcla de rojo y azul

## Manipulación de listas

Las listas son muy útiles en Python porque nos permiten almacenar y acceder a una colección de items de manera organizada y rápida. Estas también ofrecen muchos métodos útiles para manipular los itens almacenados, como adicionar, remover, clasificar y buscar elementos.

#### Cantidad de elementos

Usamos la función [`len()`](https://docs.python.org/3/library/functions.html#len) para descubrir la cantidad de elementos de un conjunto.

In [ ]:
len(lista)

5

#### Partición

La partición de listas por indexación en Python es una técnica muy útil para seleccionar un subconjunto de elementos de una lista. Esta se realiza usando la sintaxis `lista[inicio:fin]`, donde `inicio` es el índice del primer elemento que será incluído en la partición `fin` es el índice del primer elemento que será excluído de la partición.

In [ ]:
lista[:]

['Penélope Camacho', 9.5, 9.0, 9.7, True]

In [ ]:
lista[0:2]

['Penélope Camacho', 9.5]

In [ ]:
lista[:3]

['Penélope Camacho', 9.5, 9.0]

In [ ]:
lista[3:]

[9.7, True]

#### [`append()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=of%20list%20objects%3A-,list.append(x),-Add%20an%20item)

Añade un elemento al final de la lista.

In [ ]:
lista.append(5)

In [ ]:
lista

['Penélope Camacho', 9.5, 9.0, 9.7, True, 5]

#### [`extend()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=list.extend(iterable))

Añade varios elementos al final de la lista.

Añadiremos las notas `[10.0,8.0,9.0]` En la lista de Penélope Camacho.

In [ ]:
lista.extend([10.0,8.0,9.0])

In [ ]:
lista

['Penélope Camacho', 9.5, 9.7, True, 5, 10.0, 8.0, 9.0]

*A continuación te mostraremos lo que no puede realizarse con* `append`.

In [ ]:
lista.append([10.0,8.0,9.0])

In [ ]:
lista

['Penélope Camacho', 9.5, 9.7, True, 5, 10.0, 8.0, 9.0, [10.0, 8.0, 9.0]]

#### [`remove()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=append(x).-,list.remove(x),-Remove%20the%20first)

Remueve un elemento específico de la lista.

In [ ]:
lista.remove([10.0,8.0,9.0])

In [ ]:
lista

['Penélope Camacho', 9.5, 9.7, True, 5, 10.0, 8.0, 9.0]

## Manipulaciones en lista

In [ ]:
razas_de_perros = ['Labrador Retriever','Bulldog Francés','Pastor Alemán','Poodle']

In [ ]:
# El primer método es insert(), que permite insertar un elemento en una posición específica de la lista. La sintaxis es lista.insert(indice, elemento)
razas_de_perros.insert(1, 'Golden Retriever')
razas_de_perros

# OBSERVACION: "lista.insert(len(lista), elemento)" es equivalente al metodo "lista.append()"

['Labrador Retriever',
 'Golden Retriever',
 'Bulldog Francés',
 'Pastor Alemán',
 'Poodle']

In [ ]:
# El método pop() elimina el elemento en una posición específica de la lista y lo devuelve como salida al ejecutar el método.
razas_de_perros.pop(1)

'Golden Retriever'

In [ ]:
razas_de_perros

['Labrador Retriever', 'Bulldog Francés', 'Pastor Alemán', 'Poodle']

In [ ]:
# El método index() devuelve el índice de un elemento específico en la lista.
razas_de_perros.index('Pastor Alemán')

2

In [ ]:
# El método sort() ordena los elementos de la lista en orden ascendente o descendente. Si son palabras, el orden se basa en el orden alfabético o en el orden inverso.
razas_de_perros.sort() # | Orden ascendente
# razas_de_perros.sort(reverse=True) | Orden descendente
razas_de_perros

['Bulldog Francés', 'Labrador Retriever', 'Pastor Alemán', 'Poodle']

## Diccionario

Los diccionarios son un tipo de estructura de datos que almacenan pares de *llave-valor*. Estos son delimitados por llaves `{}` y los pares *llave-valor* son separados por comas.

```
diccionario = {llave: valor}
```

La **llave** es un elemento único que identifica a un valor en el diccionario, mientras que el **valor** es el item que será almacenado para la llave. Las llaves y sus respectivos valores se pueden emplear para **cualquier tipo de dato**.

Los diccionarios son útiles para almacenar y acceder a los datos de manera organizada y rápida. Se trata de un tipo de conjunto de elementos en Python, pues almacenan una colección de items.

In [ ]:
diccionario = {'llave_1': 1, 'llave_2': 2}
diccionario

{'llave_1': 1, 'llave_2': 2}

---
**Situación:**

Vamos a crear un conjunto de datos con las informaciones de matrícula de un estudiante. Los datos son los siguientes:

- matrícula: 2000168933
- día de registro: 25
- mes de registro: 10
- grupo: 2E

In [ ]:
estudiante = {
    'matricula': 2000168933,
    'dia': 25,
    'mes': 10,
    'grupo': '2E'
}

In [ ]:
estudiante

{'matricula': 2000168933, 'dia': 25, 'mes': 10, 'grupo': '2E'}

In [ ]:
estudiante['matricula']

2000168933

In [ ]:
estudiante['grupo']

'2E'

Es posible sustituir los valores dentro de una llave. Por ejemplo, recibimos la información de que el grupo del estudiante que registramos cambio a `'2G'` y ahora necesitamos cambiar el valor de la llave `'grupo'`.

In [ ]:
estudiante['grupo']= '2G'

In [ ]:
estudiante

{'matricula': 2000168933, 'dia': 25, 'mes': 10, 'grupo': '2G'}

También podemos añadir otros datos al diccionario. Vamos a añadir la información sobre la modalidad de estudio, nuestro estudiante estudiará inicialemente en la modalidad EAD.

Definiremos una llave llamada `'modalidad'` con el valor `'EAD'`.

In [ ]:
estudiante['modalidad'] = 'EAD'

In [ ]:
estudiante

{'matricula': 2000168933,
 'dia': 25,
 'mes': 10,
 'grupo': '2G',
 'modalidad': 'EAD'}

## Profundizando en diccionarios

#### [`pop()`](https://python-reference.readthedocs.io/en/latest/docs/dict/pop.html)
Remueve un item de un diccionario y lo representa en la salida.

In [ ]:
estudiante.pop('grupo')

'2G'

In [ ]:
estudiante

{'matricula': 2000168933, 'dia': 25, 'mes': 10, 'modalidad': 'EAD'}

#### [`items()`](https://python-reference.readthedocs.io/en/latest/docs/dict/items.html)
Retorna una lista de pares `llave-valor` del diccionario.

In [ ]:
estudiante.items()

dict_items([('matricula', 2000168933), ('dia', 25), ('mes', 10), ('modalidad', 'EAD')])

#### [`keys()`](https://python-reference.readthedocs.io/en/latest/docs/dict/keys.html)
Retorna una lista de las llaves del diccionario.

In [ ]:
estudiante.keys()

dict_keys(['matricula', 'dia', 'mes', 'modalidad'])

#### [`values()`](https://python-reference.readthedocs.io/en/latest/docs/dict/values.html)
Retorna una lista de los valores del diccionario.

In [ ]:
estudiante.values()

dict_values([2000168933, 25, 10, 'EAD'])

### Lectura de valores con el lazo `for`

In [ ]:
for llave in estudiante.keys():
  print(llave)

matricula
dia
mes
modalidad

In [ ]:
for llave,Valor in estudiante.items():
  print(llave,'-->',Valor)

matricula --> 2000168933
dia --> 25
mes --> 10
modalidad --> EAD

## Listas en Diccionarios
Podemos asociar estructuras de datos a otras estructuras de datos, como ocurre cuando tenemos listas dentro de diccionarios. En este caso, las listas pueden ser almacenadas en los valores de un diccionario de tal manera que cada clave puede tener una lista asociada a ella. Esto es útil cuando necesitamos almacenar varios valores relacionados con una sola clave. Por ejemplo, podemos construir un conjunto de datos de una tienda que contenga una clave con los nombres de cada producto y otra clave con los precios correspondientes, como se muestra en el código a continuación:

In [ ]:
tienda = {'nombres': ['televisión', 'celular', 'notebook', 'geladeira', 'estufa'],
          'precios': [2000, 1500, 3500, 4000, 1500]}

In [ ]:
# Para acceder a los valores, podemos utilizar una estructura de bucles for:
for clave, elementos in tienda.items():
  print(f'Clave: {clave}\nElementos:')
  for dato in elementos:
    print(dato)
# Además, podemos realizar operaciones comunes en las listas, como agregar, eliminar o contar elementos en la lista asociada a una clave del diccionario.
# Puedes copiar los códigos anteriores y ejecutarlos en Colab para verificar la salida.

Clave: nombres
Elementos:
televisión
celular
notebook
geladeira
estufa
Clave: precios
Elementos:
2000
1500
3500
4000
1500

## Mas funciones incorporadas

In [ ]:
#La función sum() permite sumar los elementos de una secuencia o estructura de datos. En el siguiente ejemplo, vamos a sumar los precios de productos:
precios = [100.0, 400.0, 200.0]
suma = sum(precios)
suma

700.0

In [ ]:
# La función help() se utiliza para acceder a la documentación de funciones, métodos y otros elementos de Python. Muestra información en inglés sobre la funcionalidad, sintaxis
# y uso de un objeto específico
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

### Parámetro y	Descripción - Funcion Print()
1.  **value, ...** 	Los valores que quieres imprimir. Puedes pasar varios separados por comas.
2. **sep**	Define el separador entre los valores. Por defecto es un espacio ' '.
3. **end**	Define lo que se imprime al final. Por defecto es un salto de línea '\n'.
4. **file**	Permite enviar la salida a un archivo u otro flujo (por defecto es la consola sys.stdout).
5. **flush**	Si es True, vacía el búfer de salida inmediatamente (útil en procesos en tiempo real).

In [ ]:
print("Hola", "mundo")                 # Hola mundo
print("Hola", "mundo", sep="-")        # Hola-mundo
print("Hola", end="!!!\n")             # Hola!!!

Hola mundo
Hola-mundo
Hola!!!

In [ ]:
# EJEMPLO CON FLUSH
#El parámetro flush controla si el búfer de salida se vacía inmediatamente.
#Por defecto, Python usa un búfer, es decir, acumula la salida antes de mostrarla (útil para optimizar velocidad).
#Si usas flush=True, Python fuerza que se imprima al instante.
import time

for i in range(5, 0, -1):
    print(f"{i}...", end=" ", flush=True)
    time.sleep(1)

print("\n¡Despegue!")

5... 4... 3... 2... 1...
¡Despegue!

In [ ]:
import sys
import time

spinner = ['|', '/', '-', '\\']  # Secuencia de animación

print("Cargando ", end="", flush=True)

for i in range(20):  # 20 pasos de animación
    sys.stdout.write(spinner[i % len(spinner)])  # Escribe un símbolo y lo imrprime sin un salto de linea
    sys.stdout.flush()  # Muestra inmediatamente
    time.sleep(0.1)  # Espera 0.1 segundos
    sys.stdout.write('\b')  # Retrocede un carácter (borra el anterior)

print("¡Listo!")

Cargando |/-\|/-\|/-\|/-\|/-\¡Listo!

In [ ]:
import sys
import time

spinner = ['|', '/', '-', '\\']

print("Procesando ", end="", flush=True)

for i in range(40):
    sys.stdout.write(spinner[i % 4])
    sys.stdout.flush()
    time.sleep(0.1)
    sys.stdout.write('\b')  # Borra el símbolo anterior

print("Hecho ✅")

Procesando |/-\|/-\|/-\|/-\|/-\|/-\|/-\|/-\|/-\|/-\Hecho ✅

In [ ]:
import sys
import time

spinner = ['⠋','⠙','⠹','⠸','⠼','⠴','⠦','⠧','⠇','⠏']  # Spinner Unicode bonito

print("Procesando datos ", end="", flush=True)

for i in range(50):
    sys.stdout.write(spinner[i % len(spinner)])
    sys.stdout.flush()
    time.sleep(0.08)
    sys.stdout.write('\b')

print("✔️  Completado")

Procesando datos ⠋⠙⠹⠸⠼⠴⠦⠧⠇⠏⠋⠙⠹⠸⠼⠴⠦⠧⠇⠏⠋⠙⠹⠸⠼⠴⠦⠧⠇⠏⠋⠙⠹⠸⠼⠴⠦⠧⠇⠏⠋⠙⠹⠸⠼⠴⠦⠧⠇⠏✔️  Completado

In [ ]:
import time

print("Contando:", end=" ", flush=True)

for i in range(1, 6):
    print(i, end=" ", flush=True)
    time.sleep(1)

print("\n¡Listo!")

Contando: 1 2 3 4 5
¡Listo!

In [ ]:
import time

print("Cargando:", end=" ", flush=True)

for _ in range(10):
    print("█", end="", flush=True)
    time.sleep(0.3)

print(" ¡Completado!")

Cargando: ██████████ ¡Completado!

In [ ]:
import time

print("Procesando datos", end="", flush=True)

for _ in range(5):
    time.sleep(0.7)
    print(".", end="", flush=True)

print(" ¡Hecho!")

Procesando datos..... ¡Hecho!

In [ ]:
import time

for i in range(0, 101, 10):
    print(f"\rProgreso: {i}%", end="", flush=True)
    time.sleep(0.5)

print("\nTarea completada.")
#\r mueve el cursor al inicio de la línea.
# flush=True actualiza el texto en la misma línea.
# Parece una barra de estado dinámica.

Progreso: 100%
Tarea completada.

In [ ]:
import time
import sys

total = 30  # Largo de la barra
VERDE = "\033[92m"
RESET = "\033[0m"

for i in range(total + 1):
    # Calcula el porcentaje completado
    percent = int((i / total) * 100)

    # Crea la barra con bloques y espacios
    bar = VERDE + '\u2588' * i + RESET + '-' * (total - i)

    # Muestra la barra (con \r para sobrescribir la misma línea)
    sys.stdout.write(f'\rCargando: |{bar}| {percent}%')
    sys.stdout.flush()

    time.sleep(0.1)

print("\nCompletado \u2705")

Cargando: |██████████████████████████████| 100%
Completado ✅

In [ ]:
# Por último, la función dir() se utiliza para mostrar una lista de atributos y métodos asociados a un elemento. Por ejemplo, vamos a descubrir todos los atributos y métodos de una lista:
lista = [1,2,3]
dir(lista)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# EJERCICIOS DE LISTAS

In [ ]:
# EJERCICIO 1
# 1 - Crea un programa que tenga la siguiente lista con los gastos de una empresa de papel [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08].
# Con estos valores, crea un programa que calcule el promedio de gastos. Sugerencia: usa las funciones integradas sum() y len().
lista_gastos = [2172.54,3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]
promedio = sum(lista_gastos)/len(lista_gastos)
print(f'El promedio de gasto es: {promedio:.2f}')

El promedio de gasto es: 3144.22

In [ ]:
# EJERCICIO 2
# 2 - Con los mismos datos de la pregunta anterior, determina cuántas compras se realizaron por encima de 3000 soles y calcula el porcentaje con respecto al total de compras.
contador_mayor_a_3000 = 0
valores_mayores = []
total_mayores = 0

for gasto in lista_gastos:
    if gasto > 3000:
        valores_mayores.append(str(gasto))  # Guardamos como texto para usar join
        contador_mayor_a_3000 += 1
        total_mayores += gasto              # Sumamos los gastos mayores a 3000

# Evitar error si la lista está vacía
if len(lista_gastos) > 0:
    porcentaje_mayor_a_3000 = (contador_mayor_a_3000 / len(lista_gastos)) * 100
else:
    porcentaje_mayor_a_3000 = 0

# Impresión de resultados
if valores_mayores: #Si la lista valores_mayores no esta vacia = True , esto es equivalente a poner len(valores_mayores) > 0:
    print(" | ".join(valores_mayores))
else:
    print("No hay compras superiores a 3000 soles.")

print(f'La cantidad de compras superiores a 3000 soles es: {contador_mayor_a_3000}')
print(f'El porcentaje de compras superiores a 3000 soles es: {porcentaje_mayor_a_3000:.2f}%')
print(f'El total gastado en compras superiores a 3000 soles es: S/ {total_mayores:.2f}')

3701.35 | 3518.09 | 3456.61 | 3249.38 | 3891.45 | 3075.26 | 3219.08
La cantidad de compras superiores a 3000 soles es: 7
El porcentaje de compras superiores a 3000 soles es: 70.00%
El total gastado en compras superiores a 3000 soles es: S/ 24111.22

In [ ]:
# EJERCICIO 3
# 3 - Crea un código que recoja en una lista 5 números enteros aleatorios e imprima la lista. Ejemplo: [1, 4, 7, 2, 4].

In [ ]:
contador_mayor_3000 = 0
lista_expenses = []

for gasto in lista_gastos:
    if gasto > 3000:
      lista_expenses.append(str(gasto))
      contador_mayor_3000 += 1
      total_mayores += gasto

      lista_expenses

print(' | ' .join(lista_expenses))

porcentaje_mayor3000 = (contador_mayor_3000 / len(lista_gastos)*100)
print(f'La cantidad de compras superiores a 3000 soles es: {contador_mayor_a_3000}')
print(f'El procentaje de compras superiores a 3000 soles es: {porcentaje_mayor3000:.2f}%')
print(f'La suma de los gastos superiores a 3000 soles es: S/ {total_mayores:.2f}')

3701.35 | 3518.09 | 3456.61 | 3249.38 | 3891.45 | 3075.26 | 3219.08
La cantidad de compras superiores a 3000 soles es: 7
El procentaje de compras superiores a 3000 soles es: 70.00%
La suma de los gastos superiores a 3000 soles es: S/ 48222.44